@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Poppins:300,400&display=swap');

.header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100px;
  margin-bottom: 60px;
  a {
    margin: 0 20px;
    text-decoration: none;
    color: #101010;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins';
  }
}

.container {
  position: relative;
  width: 1280px;
  min-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  .page {
    position: absolute;
    a {
      text-decoration: none;
      h2 {
        font-family: 'Bebas Neue';
        font-size: 48px;
        color: #101010;
      }
    }
    .inner {
      display: flex;
      justify-content: center;
      h1 {
        font-family: 'Bebas Neue';
        font-size: 52px;
        letter-spacing: 0.1rem;
        .line-wrap {
          overflow: hidden;
          height: 66px;
        }
      }
      .inner-info {
        display: flex;
        flex-direction: column;
        img {
          margin: 0 auto;
          height: 380px;
          width: 280px;
        }
        p {
          font-family: 'Poppins';
          margin-top: 80px;
          width: 340px;
          font-weight: 300;
          line-height: 24px;
          font-style: 14px;
        }
      }
    }
  }
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 400ms;
  transition-delay: 600ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}

.work-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .work-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10% 0;
    .work-desc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
    .img-container {
      img {
        margin-left: 10%;
        width: 764px;
        height: 394px;
      }
    }
  }
}
.form-inner {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 642px;
  #nest-messages {
    margin: 30px 0;
  }
}

.footer {
  text-align: center;
  margin-top: 100px;
  a {
    padding: 5px;
  }
}
